@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400,700&display=swap');

body{
	background-image: url("20815_2.jpg");
	color: #FAF3E0;
	
	font-size: 1.5rem;
	height:100vh;
}

	

header h1,h2{
	text-align:center;
	font-family: 'Playfair Display', serif;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	
}
button{
	height: 5rem;
	width: 100%;
	font-size: 2rem;
	font-family: Arial;
	color: white;
	background-color: transparent;
}

button:hover {
    background-color: #A8D5BA; 
}


#cmd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  align-content: center;
  gap: 20px; 
}


main label {

  margin-bottom: 5px; 
  font-family:Georgia;
}

@media (max-width: 480px), (min-width: 481px) and (max-width: 1024px)
{
	#cmd {
		display: grid;
		grid-template-columns: 1fr  ;
		align-content: center;
		gap: 20px; 
		}
	#coord{
		display: grid;
		grid-template-columns: 1fr;
	}
	button:hover {
    background-color: #A8D5BA; 
	}	
	input{
		width: 25%;
	}
	input.contact,textarea{
		width: 90%;
	}
	legend,fieldset{
		display: grid;
		grid-template-columns: 1fr ;
	}
}
